* {box-sizing:border-box;}
body {background-color: #CCC;}

.catimg {
    border: 1px solid;
    border-color: green;
    border-radius: 4%;
}

.numberclicks {
    color: DodgerBlue;
}

.catname {
    font-weight: bold;
    font-size: 2rem;
}