* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/** { outline: 1px solid red !important }*/

.description {
	color: black;
	max-width: 705px;
}

.screenshot {
	max-width: 460px;
}

